source "D:/espressif/v5.5.2/esp-idf/components/driver/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/efuse/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_coex/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_common/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_ana_cmpr/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_bitscrambler/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_dac/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_gpio/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_gptimer/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_i2c/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_i2s/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_ledc/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_mcpwm/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_parlio/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_pcnt/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_rmt/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_sdm/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_spi/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_tsens/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_twai/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_uart/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_driver_usb_serial_jtag/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_event/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_hw_support/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_mm/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_netif/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_partition/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_phy/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_pm/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_ringbuf/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_rom/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_security/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_system/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_timer/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/esp_wifi/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/freertos/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/hal/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/heap/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/log/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/lwip/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/mbedtls/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/newlib/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/nvs_flash/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/pthread/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/soc/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/spi_flash/Kconfig"
source "D:/espressif/v5.5.2/esp-idf/components/vfs/Kconfig"